body{
    background-color:black;
    padding: 16px;
}

.navbar-toggler{
  border-color: #ffe7e5;
}

.card {
    background-color:black;
    color:#ffe7e5;
    height: 610px;
    margin-top:65px;
    padding:15px;
    position: relative;
}
.outer{
    background-color:#ffe7e5;
    padding:4px;
}
.ring{
    background-color:black;
    padding:2px;
    position: relative;
    height: 570px;
}

.ringBlock{
    background-color:black;
    padding:2px;
}
.header{
    color: #ffe7e5;
    background-color: #ffe7e5;
    text-shadow:
    -1.4px -1.4px 0 #000,
    1.4px -1.4px 0 #000,
    -1.4px 1.4px 0 #000,
    1.4px 1.4px 0 #000;
    margin-bottom: 0px;
    padding-top:14px;
}
.headerInverse{
    color: #515151;
    background-color: #515151;
    text-shadow:
    -1px -1px 0 #ffe7e5,
    1px -1px 0 #ffe7e5,
    -1px 1px 0 #ffe7e5,
    1px 1px 0 #ffe7e5;
    margin-bottom: 0px;
}

.subCard{
    height: 566px;
    padding: 10px;
    color: #ffe7e5;
    font-weight: bold;
    transform: translate(0%, -18%);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}
.subCard button{
    padding:0;
}

a.nav-link{
    color:#ffe7e5;
    background-color: #474747;
}
a.navbar-brand{
    color:#ffe7e5;
    background-color: #474747;
    height: 55px;
}

.news{
    background:black;
    height: 2000px;
    text-align:center;
    padding: 20px;
    margin-top: 10px;
}

.subNews{
    font-size: 19px;
    background-color:#ffe7e5;
    height: 1899px;
    margin: 0px;
    text-align: left;
}

.cinemaClub{
    background:black;
    height: 850px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.subCinema{
  height: 430px;
  margin: 0px;
  color: #ffe7e5;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.booknow{
    font-size: 12px;
    color: #ffe7e5;
    background-color: #ffe7e5;
    text-shadow:
    -1.4px -1.4px 0 #000,
    1.4px -1.4px 0 #000,
    -1.4px 1.4px 0 #000,
    1.4px 1.4px 0 #000;
    margin-bottom: 0px;
    height:35px;
    border:5px;
    border-color:black;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.booknowOuter{
    background-color:black;
    padding:4px;
    margin: 0px;
}
.footer{
    height: 175px;
    padding:65px;
    text-align: center;
    color:#ffe7e5;
    background-color: #474747;
    margin: 0px;
}
.table{
    padding:0px;
    color: #515151;
    font-weight: bolder;
    font-size:25px;
    margin-top:90px;
    margin-bottom:410px;
    text-align: center;
    background-color: #515151;
    text-shadow:
    -1px -1px 0 #ffe7e5,
    1px -1px 0 #ffe7e5,
    -1px 1px 0 #ffe7e5,
    1px 1px 0 #ffe7e5;
}

.cardBig {
    background-color:black;
    color:#ffe7e5;
    height: 610px;
    padding:15px;

}
.outerBig{
    background-color:#ffe7e5;
    padding:4px;
}
.ringBig{
    background-color:black;
    padding:2px;
    position: relative;
    height: 570px;
}
.subCardBig{
    height: 566px;
    padding: 15px;
    color: #ffe7e5;
    font-weight: bold;
    transform: translate(0%, -18%);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}
.movie{
    background:black;
    height: 580px;
    text-align:center;
    padding: 15px;
}
.subMovie{
    font-size: 19px;
    background-color:#ffe7e5;
    height: 504px;
    margin: 0px;
    text-align: left;
    padding:5px;
}


